[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
opencv-python = "*"
scipy = "*"
numba = "<=0.47"

[packages]
discord-py = "*"
motor = "*"
aioredis = "*"
derw = {git = "https://github.com/notderw/python-util"}
parsedatetime = "*"
python-dateutil = "*"
lru-dict = "*"
praw = "*"
prettytable = "*"
pygit2 = "*"
peony-twitter = "*"
mcstatus = {editable = true,git = "https://github.com/notderw/mcstatus.git",ref = "async"}

[requires]
python_version = "3.7"
