[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = "*"
motor = "*"
aioredis = "*"
parsedatetime = "*"
python-dateutil = "*"
lru-dict = "*"
praw = "*"
pygit2 = "*"
peony-twitter = "*"
aiogoogle = "*"
pydantic = "*"
watchgod = "*"

[requires]
python_version = "3.8"

[packages.mcstatus]
editable = true
git = "https://github.com/notderw/mcstatus.git"
ref = "async"

[packages.derw]
git = "https://github.com/notderw/python-util.git"
